.meeting-element, .meetingSDKElement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.css-d2sft1 {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
}

.css-ulr84r {
  width: 1000px;
  height: 450px;
}